body {
    margin: 0;
}

.header {
    justify-content: space-between;
    background-color: #1F2937;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-left: 200px;
    padding-right: 200px;
}
ul {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
}
a2 {
    text-decoration: none;
    color:#e5e7eb;
}
a1 {
    color: #F9FAF8;
    font-weight: 800;
}
.hero{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px ;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    
    
}   
.image {
    display: flex;
    
} 
.intro {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;

}
.intro-sub {
    color: #e5e7eb;
    font-size: 18px;
}
button {
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px;
    color: #F9FAF8;
    font-weight: 600;
}
.random-info-title {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    display: flex;
    justify-content: center;
}
image.one, .image-two, .image-three, .image-four {
    height: 100px;
    width: 100px;
    border: #3882F6;
}