body {
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
    background-color: #1f2937;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.header-links {
    display: flex;
    gap: 16px;
}
a1 {
    text-decoration: none;
    color: #e5e7eb;
}
.hero {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1f2937;
}
.hero-sections {
    display: flex;
    gap: 8px;
    padding-bottom: 20px;
}
.hero-heading {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.hero-content {
    width: 50%;
}
.hero-image-container {
    width: 50%;
    
}
.hero-description {
    color: #e5e7eb;
}
.hero-image {
 width: 100%;
 border: 3px solid #3882f6;
 border-radius: 5px;
}
.signup {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    color: #f9faf8;
}
.main {
    display: flex;
    align-items:center;
    flex-direction: column;
}
.main-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 1000;
    padding-top: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-top: 16px;
}  
.category-images{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}   
.category {
    width: 150px;
    text-align: center;
}
.quote {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    margin: 0;
    font-weight: 50;
}
p2 {
    margin: 0;
    font-size: 24px;
    text-align: right;
    font-style: normal;
    font-weight: 600;
}
.end {
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #3882f6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup-two {
    height: 30px;
    width: 100px;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    border-radius: 4px;

}
.thing {
    display: flex;
    flex-direction: column;
}
p3 {
    color: #f9faf8;
    font-weight: 600; 
    font-size: 18px;  
}
p4 {
 color: #e5e7eb;
}
.footer {
    background-color: #1f2937;
    padding: 20px;
    color: #e5e7eb;
    text-align: center;
}
